*.lo
*.o
*.la
Makefile
Makefile.in
*~
data/*.xml
*.gmo
config.*
.kdev4
aclocal.m4
autom4te*
configure
depcomp
docs/reference/html*
intltool*.in
install-sh
libqalculate.kdev4
libqalculate.pc
libqalculate/.*
libtool
ltmain.sh
missing
mkinstalldirs
po-defs/.*
po/POTFILES
po/stamp-it
src/.*
src/qalc
stamp-h1
