*.lo
*.o
*.la
Makefile
Makefile.in
*~
data/*.xml
*.gmo
config.*
.kdev4
aclocal.m4
autom4te*
configure
depcomp
docs/reference/html*
intltool*.in
install-sh
libqalculate.kdev4
libqalculate.pc
libqalculate/.*
libqalculate/definitions.c
libtool
ltmain.sh
missing
mkinstalldirs
po-defs/.*
po/POTFILES
po/stamp-it
src/.*
src/qalc
src/unittest
*.trs
src/*.log
stamp-h1
lokalize-scripts/
main.lqa
libqalculate.lokalize
m4/
po/
po-defs/
po-defs-fixed/
compile
*.gcm
test-driver